<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deenislamic.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- This is where your queries declaration goes -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application android:usesCleartextTraffic="true">

         <provider
             android:name=".utils.DeenFileProvider"
             android:authorities="com.deenislamic.sdk.fileprovider"
             android:grantUriPermissions="true"
             android:exported="false">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/filepaths" />
         </provider>


        <activity
            android:theme="@style/DeenSDKTheme.NoActionBar"
            android:name="com.deenislamic.sdk.views.main.MainActivityDeenSDK"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>

        <receiver
            android:name="com.deenislamic.sdk.service.libs.notification.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.deenislamic.sdk.service.libs.sessiontrack.SessionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name="com.deenislamic.sdk.service.libs.notification.AlarmReceiverService" />
        <service android:name="com.deenislamic.sdk.service.libs.sessiontrack.SessionReceiverService" />


        <service android:name="com.deenislamic.sdk.service.libs.media3.QuranPlayer" />
        <service android:name="com.deenislamic.sdk.service.libs.media3.QuranPlayerOffline" />
        <service android:name="com.deenislamic.sdk.service.libs.downloader.QuranDownloadService" />

        <receiver android:name="com.deenislamic.sdk.service.libs.media3.QuranPlayerBroadcast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="prev_action" />
                <action android:name="play_action" />
                <action android:name="next_action" />
                <action android:name="stop_action" />
            </intent-filter>
        </receiver>

        <!-- <receiver
             android:name=".service.libs.notification.SnoozeReceiver"
             android:enabled="true"
             android:exported="false">
             <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
                 <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                 <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
             </intent-filter>
         </receiver>

         <service android:name=".service.libs.notification.Notificationservice" />-->

    </application>


</manifest>
